/* ===== HERO / BANNER ===== */
.hero {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
}

/* slides */
.hero-slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 1s ease;
}

/* slide ativo aparece e define a altura */
.hero-slide.active {
  position: relative;
  opacity: 1;
}

/* imagem manda na altura */
.hero-slide img {
  width: 100%;
  height: auto;
  display: block; /* REMOVE espaço fantasma */
}
