.hero {
  width: 100%;
  position: relative;
  aspect-ratio: 16 / 9;
  max-height: 420px
}

.hero-slide {
  position: absolute;
  inset: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease;
}

.slide1 {
  background-image: url("../img/Banner\ Veste\ Desejo.png");
}

.slide2 {
  background-image: url("../img/Banner\ Veste\ Desejo\ \(1\).png");
}

.slide3 {
  background-image: url("../img/Banner\ Veste\ Desejo\ \(2\).png");
}

.hero-slide.active {
  opacity: 1;
}
