@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Petit Formal Script', cursive;
  background: #f5f1e1;
  color: #960b0c;
}
